.font-overlock {
  font-family: "Overlock SC";
}

.underline-effect {
  color: inherit;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 250ms;
}

.underline-effect:hover {
  text-decoration-color: rgba(0, 0, 0, 1);
}
div[data-visible="hamburger"] {
  display: none;
}

@media (max-width: 600px) {
  div[data-visible="large"] {
    display: none;
  }
  div[data-visible="hamburger"] {
    display: block;
  }
}
