@media (max-width: 880px) {
  div[data-place="form"] {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section[data-place="form"] {
    width: 95%;
    align-self: center;
  }
}
